@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Antonio';
  src: url('../assets/fonts/Antonio/static/Antonio-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio';
  src: url('../assets/fonts/Antonio/static/Antonio-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio';
  src: url('../assets/fonts/Antonio/static/Antonio-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Antonio';
  src: url('../assets/fonts/Antonio/static/Antonio-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --bg: #020617;
  --bg-soft: #020817;
  --card: #020617;
  --border-subtle: rgba(148, 163, 184, 0.35);
  --accent: #22c55e;
  --accent-soft: rgba(34, 197, 94, 0.12);
}

body {
  @apply text-slate-50 antialiased overflow-x-hidden;
  background-color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold tracking-tighter uppercase;
}